.room-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room-list-container ul{
    list-style: none;
}

.room-listing{
    border: 1px solid var(--secondary-color);
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem 20rem 1rem 1rem;
    margin: 1rem 0 0 0;
}
